{% extends 'base.html.twig' %}

{% block title %}Agregar producto{% endblock %}

{% block body %}
<div class="container card col-10">
    <h1>Agregar producto</h1>

    {{ include('producto/_form.html.twig') }}
</div>
{% endblock %}
