nav{
	border-radius: 1em;
}

footer{
	background-color: pink;
}

#logo{
	display:block;
	margin:auto;
	width:150px;
	height:"auto";
}

#cont-logo{
	background-color: #FFE4E1;
}

#logo-freyja{
	height: 150px;
	width: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#hamburger-menu{
  height: 32px;
  width: auto;
}

#agregar-marca, #agregar-descripcion{
	position: fixed;
	top: 20%;
	background-color: black;
	opacity: 0.9;
	padding-top: 5em;
	padding-bottom: 5em;
	visibility: hidden;
	width: 80%;
	left: 10%;
	right: 10%;
	border-radius: 5%;
}

#id_estado{
	height: 3em;
}

#marca_descripcion{
	width: 100%;
}

.btn-freyja{
	background-color: pink;
}

.navbar, .navbar-brand, a{
  background-color: #F8BBD0;
  /* color: #17a2b8 !important; */
}

.nav-item{
	margin-left: 1em !important;
	/*font-weight: bold;*/
}

.nav-item > a{
	color: #000;
}

.nav-item > a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	/* color: #000; */
}

.formularios-agregar{
	width: 100%;
	align-items: center;
	align-content: center;
	text-align: center;
	align-self: center;
}

.formulario{
	margin: auto;
}

.span-group{
	width: 8.2em !important;
	opacity: 1 !important;
}

.titulo{
  color: white;
}

.width7em{
  width:7em !important;
}

.action-col{
	width:14em;
}

.boton{
	width: 3em;
	padding: 0.5em;
}

.width7em{
	width: 7em !important;
}

.lalala{
	float: left;
	align-items: center;
	display: inline-block;

}

.pablo{
	display:block;
	/*width:37% ;
	margin-right:31.5% !important;
	margin-left:31.5% !important;*/
	position: absolute;
}
