<form method="post" class="form-check form-check-inline" action="{{ path('descripcion_delete', {'id': descripcion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ descripcion.id) }}">
    <button class="btn btn-danger width7em">Delete</button>
</form>
