{% extends 'base.html.twig' %}

{% block title %}Editar descripcion{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-6 offset-md-3 card align-items-center">
    <h1>Editar descripcion</h1>
    {{ include('descripcion/_edit_form.html.twig', {'button_label': 'Aceptar'}) }}
  </div>
</div>
{% endblock %}
