{% extends 'base.html.twig' %}

{% block title %}Editar marca{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-6 offset-md-3 card align-items-center">
    <h1>Editar marca</h1>
    {{ include('marca/_edit_form.html.twig', {'button_label': 'Update'}) }}
  </div>
</div>
{% endblock %}
