{% extends 'base.html' %}


{% block titulo %}
		<title>Productos</title>

		<style type="text/css">
	.pagi{
		width: 5em;
		list-style: none;
	}

	.formularios-agregar{
		width: 100%;
		align-items: center;
		align-content: center;
		text-align: center;
		align-self: center;

	}
	.formulario{
		margin: auto;
	}
	.span-group{
		width: 7em !important;
		opacity: 1 !important;
	}

	#agregar-marca, #agregar-descripcion{

		padding-top: 5em;
		padding-bottom: 5em;
		width: 80%;
		left: 10%;
		right: 10%;
		border-radius: 5%;

	}
	.boton-agregar{
		width: 5.3em !important;
	}

	#marca1 p label{
		background-color: #F00;
	}
</style>

	{% endblock %}

{% block container %}
{% if object_list %}
<div class="col-md-8" style="float: left; left: 1px; " >
	<table class="table">	<thead>
		<tr>
			<th>Codigo</th>
			<th>Descripcion</th>
			<th>Precio Compra</th>
			<th>Precio Venta</th>
			<th>Marca</th>
			<th>Operacion</th>
		</tr>
	</thead>
	<tbody>
		{% load static %}
	{% for prod in object_list %}
		{% if prod.estado %}
			<tr class="{% cycle 'table-danger' '' %} ">
				<td>{{ prod.codigo }}</td>
				<td>{{ prod.descripcion }}</td>
				<td>{{ prod.precioCompra }}</td>
				<td>{{ prod.precioEfect }}</td>
				<td>{{ prod.marca }}</td>
				<td>
					<a href="{% url 'actualizar_producto' prod.Id %}"><img style="height: 2em; width: 2em;" src="{% static "/images/UPDATE.png" %}"></a>
					<a href="{% url 'eliminar_producto' prod.Id %}"><img style="height: 2em; width: 2em;" src="{% static "/images/DELETE.png" %}"></a>
				</td>
			</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
{% else %}
		<p>No hay productos para mostrar</p>
{% endif %}
</div>
	<div class="botones">
		<div align="center" class="boton">
	      <button class="btn btn-info col-md-2"  type="button">Exportar a PDF</button>
	    </div>  
	    <div align="center" class="boton">
	      <button class="btn btn-info col-md-2" align="center" type="button">Exportar a Excel</button>
	  	</div>
	</div>

{% endblock %}

{% block paginador %}
<div style="float: left; left: 1px; " >
<ul class="paginador" style="width: 100%">
	<li class="nav-item pagi" style="float: left;">
		{% if page_obj.has_previous %}
	{#	{{ value|add:2 }} #}
		<a class="input-group-text span-group boton-agregar pagi" href="?page={{ page_obj.previous_page_number}}">Previous</a>
		{% endif %}
	</li>
	<li class="nav-item pagi" style="float: left;">
		{% if page_obj.has_previous %}
		<a class="input-group-text span-group boton-agregar pagi" href="?page={{ page_obj.previous_page_number|add:3}}">3</a>
		{% endif %}
	</li>
	<li class="nav-item pagi" style="float: right;">
		{% if page_obj.has_next %}
		<a class="input-group-text span-group boton-agregar pagi" href="?page={{ page_obj.next_page_number}}">Next</a>
		{% endif %}
	</li>
</ul>
</div>
<br>

{% endblock %}
